WORK_DIR_PATH="C:\Users\Blabla\Documents\Tmp_data\manuscript-reference-lister"  # Directory path to work files
OUTPUT_DIR_PATH="C:\Users\Blabla\Documents\Tmp_data\manuscript-reference-lister" # Directory path to output files
TEST_WORK_DIR_PATH="C:\Users\Blabla\Documents\Tmp_data\manuscript-reference-lister-test" # Directory path to test work files
TEST_OUTPUT_DIR_PATH="C:\Users\Blabla\Documents\Tmp_data\manuscript-reference-lister-test" # Directory path to test output files
# Crossref Rest API
CROSSREF_API_DELAY=0.5
CROSSREF_API_EMAIL=roger.dupont@gmail.com # email for API calls
CROSSREF_API_JOURNALS_URL="https://api.crossref.org/journals" # url for journal API calls
CROSSREF_API_JOURNALS_ISSN_URL="https://api.crossref.org/journals/{issn}/works" # url for journal API calls for a specific ISSN
CROSSREF_API_STYLES_URL="https://api.crossref.org/styles" # url to check reference style validity
CROSSREF_API_WORKS_URL="https://api.crossref.org/works" # url for article/reference API calls
CROSSREF_API_MAX_RESULTS=3 # max number of references retrieved per API call
CROSSREF_API_TIMEOUT=10
CROSSREF_API_MAX_RETRY=10
# DOI Content Negotiation Service
DOI_API_DELAY=0.4
DOI_API_URL="https://doi.org/{doi}" # Url of the DOI Content Negotiation Service
DOI_API_TIMEOUT=10
DOI_API_MAX_RETRY=10

CONTEXT_KEYWORDS="geosciences hydrology" # field of research for API call

JOURNAL_UPDATE_DAYS=30 # If infos for a journal is older than this value, infos will be updated
JOURNAL_UPDATE_MAX=100 # Max number of journals whose info can be updated in a row
