# Directory path to data files used as repositories
LOCAL_REPO_DIR_PATH="C:\Users\Blabla\Documents\Tmp_data\manuscript-reference-lister"
# Log directory path, loaded by logging_config.py (not config.py)
LOG_DIR_PATH="C:\Users\Blabla\Documents\Tmp_data\manuscript-reference-lister"
# Directory path to output files
OUTPUT_DIR_PATH="C:\Users\Blabla\Documents\Tmp_data\manuscript-reference-lister"

# Crossref Rest API
CROSSREF_API_DELAY=0.5
CROSSREF_API_EMAIL=roger.dupont@gmail.com # email for API calls
# url for journal API calls
CROSSREF_API_JOURNALS_URL="https://api.crossref.org/journals"
# url for journal API calls for a specific ISSN
CROSSREF_API_JOURNALS_ISSN_URL="https://api.crossref.org/journals/{issn}/works"
# url to check reference style validity
CROSSREF_API_STYLES_URL="https://api.crossref.org/styles"
# url for article/reference API calls
CROSSREF_API_WORKS_URL="https://api.crossref.org/works"
CROSSREF_API_WORKS_GET_LIMIT=20 # max number of references retrieved per API call
CROSSREF_API_TIMEOUT=20
CROSSREF_API_MAX_RETRY=10

# DOI Content Negotiation Service
DOI_API_DELAY=0.4
DOI_API_URL="https://doi.org/{doi}" # Url of the DOI Content Negotiation Service
DOI_API_TIMEOUT=10
DOI_API_MAX_RETRY=10

CONTEXT_KEYWORDS="geosciences hydrology" # field of research for API call

# Days after which journal metadata expire and need to be updated from remote repo (Crossref).
JOURNAL_UPDATE_DAYS=30
# Max number of journals whose metadata can be updated in a row from remote repo (Crossref).
JOURNAL_UPDATE_LIMIT=100
